body {
    margin: 0;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.space {
    background-image: url(src/space.png);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.planet-area {
    display: flex;
    align-items: flex-end;
    height: inherit;
    position: relative;
}

.planet {
    height: 35vw;
}

.rocket {
    height: 20vh;
    position: absolute;
    left: 20vw;
    bottom: 35vh;
    transform: rotate(30deg);
}

/*@keyframes rocketMove {*/
/*    0% { top: 0; left: 0; }*/
/*    30% { top: 50px; }*/
/*    68%, 72% { left: 50px; }*/
/*    100% { top: -60vh; left: 100vw; }*/
/*}*/

.control-panel {
    background: repeating-linear-gradient(45deg, coral, coral 10px, dodgerblue 10px, dodgerblue 15px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32vh;
    width: 32vw;
}

.control-panel__inner {
    background: silver;
    border-radius: 10px;
    height: 30vh;
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.check-buttons {
    display: flex;
    justify-content: space-around;
    width: 28vw;
}

.levers {
    display: flex;
    justify-content: space-around;
    height: 5vh;
    width: 28vw;
}

.levers input {
    transform: rotate(-90deg);
    flex-basis: content;
    width: 100%;
    padding: 0;
}

input {
    border-color: dodgerblue;
    background-color: whitesmoke;
    color: dodgerblue;
    border-radius: 5px;
    padding: 7px;
}

input[type=button] {
    font-family: 'Mochiy Pop P One', sans-serif;
    border-radius: 5px;

    margin: 10px;
}

.launch-button {
    width: 100px;
    color: black;
    padding: 10px;
    background-color: coral;
}

.launch-button:disabled {
    opacity: .5;
}
